/* styles.css */



p{
    font-size: 15pt;
}

form {
    max-width: 50%; 
    width: 100%;
}


.form-control {
    width: 50%;
    max-width: 100%; 
}


.btn-primary {
    width: 100%; 
    max-width: 20%;
}
